{% extends 'agenda/base.html' %}

{% block conteudo %}

<h1>Uma mulher tem o poder de ser tudo aquilo que quiser, basta que lute por isso. E todos sabemos que quando uma mulher coloca uma ideia na cabeça sua força para concretizar é mais forte que todo poder do universo! <br>
    <br> À Mulher, ao seu corpo de mil sonhos, <br>
    <br> Ao seu ventre fértil de ilusão e de vida. <br>
    <br> À Mulher, à sua figura de paz e amor, <br>
    <br> A toda a sua singularidade <br>
    <br> E inebriante essência. <br><br>
    
    <br> A todas elas, neste dia que é <br>
    <br> Apenas delas, um louvor de amor, <br>
    <br> Uma glorificação de reconhecimento <br>
    <br> Porque cada Mulher é única <br>
    <br> E um tesouro em si mesma! <br>
</h1>

{% endblock conteudo %}